[Unit]
Description=wallpaper cycle by awww

[Service]
Type=oneshot
ExecStart=%h/dotfiles/script/cycle_wallpaper.sh rnd
StandardOutput=journal
StandardError=journal

