[Unit]
Description=wallpaper cycle by swww

[Service]
Type=oneshot
ExecStart=%h/dotfiles/script/cycle_wallpaper.sh seq
StandardOutput=journal
StandardError=journal

