[Unit]
Description=wallpaper cycle by awww

[Service]
Type=oneshot
ExecStart=/usr/bin/env ysh %h/dotfiles/script/cycle_wallpaper.ysh rnd
StandardOutput=journal
StandardError=journal

