[Unit]
Description=SSH key agent

[Service]
Type=simple
ExecStart=ssh-agent -D -a %t/ssh-agent
Environment=SSH_AUTH_SOCK=%t/ssh-agent

[Install]
WantedBy=default.target
