[init]
	defaultBranch = main
[user]
	name = coyuki
	email = fu08yu20ko07@icloud.com
[core]
	excludesfile = ~/.gitignore_global
	pager = less
    editor = "nvim"

[alias]
	lograph = log --all --date-order --date=format:%Y-%m-%d --graph --format="%h %ad [%an] %C(green)%d%Creset %s"

; [diff]
; 	tool = difftastic
; 	external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true

