.DS_Store
vscode/
.vscode/
# **/_*
old/*
.api_keys
**/lazy-lock.json
*.elc
auto-save-list/
eln-cache/
elpa/
parinfer-rust/*.so
custom.el
usr/.config/zed/prompts/
usr/.tmux/plugins/
usr/.config/broot/launcher/
usr/.config/broot/skins
usr/.config/broot/verbs.hjson
**/.env
usr/emacs/.emacs.d/.cache
#.DS_Store#
