* {
  font-family: "0xProto Nerd Font", "Noto Sans CJK JP", "IBM Plex Sans JP", sans-serif;
  font-size: 13px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: #cdd6f4;
}

tooltip {
  background: rgba(17, 17, 27, 0.7);
  border: 1px solid #f5c2e7;
  border-radius: 10px;
  text-shadow: none;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces,
#window,
#mpris,
#clock,
#battery,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-notification {
  background-color: rgba(24, 24, 37, 0.6);
  border-radius: 10px;
  padding: 0 12px;
  margin: 4px 2px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#workspaces {
  padding: 0 4px;
  color: #89b4fa;
  border: 1px solid #89b4fa;
}

#workspaces button {
  padding: 0 4px;
  color: #89b4fa;
}

#workspaces button.active {
  color: #f5c2e7;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#window {
  background-color: rgba(24, 24, 37, 0.6);
  font-weight: 700;
  color: #f5c2e7;
  border: 1px solid #f5c2e7;
}

#mpris {
  color: #f2cdcd;
  border: 1px solid #f2cdcd;
}

#clock {
  font-weight: 700;
  color: #cba6f7;
  border: 1px solid #cba6f7;
}

#pulseaudio {
  color: #a6e3a1;
  border: 1px solid #a6e3a1;
}

#network {
  color: #89dceb;
  border: 1px solid #89dceb;
}

#battery {
  color: #fab387;
  border: 1px solid #fab387;
}

#temperature {
  color: #94e2d5;
  border: 1px solid #94e2d5;
}

#custom-notification {
  color: #f5e0dc;
  border: 1px solid #f5e0dc;
}

#temperature.critical,
#battery.critical:not(.charging) {
  color: #f38ba8;
  border: 1px solid #f38ba8;
}

#tray {
  padding: 0 8px;
}

#tray>* {
  margin: 0 8px;
}

#temperature.critical {
  color: #f38ba8;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
}

#pulseaudio.muted {
  color: #6c7086;
  text-decoration: line-through;
}

#tray {
  padding: 0 8px;
}

#tray>* {
  margin: 0 8px;
}



