* {
  font-family: "0xProto Nerd Font", "Noto Sans CJK JP", "IBM Plex Sans JP", sans-serif;
  font-size: 13px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

tooltip {
  background: rgba(17, 17, 27, 0.9);
  text-shadow: none;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces,
#window,
#clock,
#battery,
#network,
#pulseaudio,
#temperature,
#tray,
#mpris,
#custom-notifications {
  color: #cdd6f4;
  border-radius: 0px;
  padding: 0 12px;
  margin: 4px 0px;
}

#workspaces {
  padding: 0 4px;
}

#workspaces button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #a6adc8;
  padding: 0 6px;
  margin: 2px 0;
  border-radius: 0px;
  transition: all 0.2s ease;
}

#workspaces button.active {
  color: #cdd6f4;
  font-weight: bold;
  border-bottom: 2px solid #cc88ff;
  border-radius: 0px;
}

#workspaces button:hover {
  color: #cdd6f4;
}

#window {
  font-weight: bold;
  color: #cc88ff;
}

#mpris {
  color: #cc88ff;
}

#clock {
  font-weight: 700;
}

#pulseaudio,
#network,
#battery,
#temperature {
  color: #a6adc8;
}

#temperature.critical {
  color: #f38ba8;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
}

#pulseaudio.muted {
  color: #6c7086;
  text-decoration: line-through;
}

#tray {
  padding: 0 8px;
}

#tray > * {
  margin: 0 8px;
}

#custom-notifications {
  padding-right: 14px;
  color: #cc88ff;
}
