// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

/////////////////////////////////////
//  ╔═╗ ╔═╗ ╔╦╗      ╔═╗ ╔╗╔ ╦  ╦  //
//  ╚═╗ ║╣   ║       ║╣  ║║║ ╚╗╔╝  //
//  ╚═╝ ╚═╝  ╩       ╚═╝ ╝╚╝  ╚╝   //
/////////////////////////////////////
environment {
    GDK_BACKEND "wayland,x11"
    QT_QPA_PLATFORM "wayland;xcb"
    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "24"
}

screenshot-path "~/Pictures/Screenshots/Screenshot_from %Y%m%d_%H%M%S.png"

// #################
// #  ╦ ╔╗╔ ╦ ╔╦╗  #
// #  ║ ║║║ ║  ║   #
// #  ╩ ╝╚╝ ╩  ╩   #
// #################

spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "sh" "-c" "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri; systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri"
spawn-at-startup "sh" "-c" "systemctl --user stop xdg-desktop-portal xdg-desktop-portal-hyprland xdg-desktop-portal-wlr xdg-desktop-portal-gtk; systemctl --user start xdg-desktop-portal"

spawn-at-startup "swww-daemon"
spawn-at-startup "sh" "-c" "$HOME/dotfiles/script/cycle_wallpaper.sh"
spawn-at-startup "sh" "-c" "$HOME/dotfiles/script/launch-waybar.sh"
spawn-at-startup "swaync"
spawn-at-startup "fcitx5"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "hypridle" "-c" "~/dotfiles/.config/niri/hypridle.conf"
hotkey-overlay {
    skip-at-startup
}

// #######################################################
// #  ╦ ╔╗╔ ╔═╗ ╦ ╦ ╔╦╗      ╔╦╗ ╔═╗ ╦  ╦ ╦ ╔═╗ ╔═╗ ╔═╗  #
// #  ║ ║║║ ╠═╝ ║ ║  ║        ║║ ║╣  ╚╗╔╝ ║ ║   ║╣  ╚═╗  #
// #  ╩ ╝╚╝ ╩   ╚═╝  ╩       ═╩╝ ╚═╝  ╚╝  ╩ ╚═╝ ╚═╝ ╚═╝  #
// #######################################################

input {
    focus-follows-mouse

    keyboard {
        xkb {
            layout "us"
            options "ctrl:swap_lalt_lctl,ctrl:swap_ralt_rctl"
        }
        repeat-delay 300
        repeat-rate 40
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.5
        accel-profile "adaptive"
        scroll-factor 0.3
    }

    mouse {
        natural-scroll
    }
}

// ###################################
// #  ╔╦╗ ╔═╗ ╔╗╔ ╦ ╔╦╗ ╔═╗ ╦═╗ ╔═╗  #
// #  ║║║ ║ ║ ║║║ ║  ║  ║ ║ ╠╦╝ ╚═╗  #
// #  ╩ ╩ ╚═╝ ╝╚╝ ╩  ╩  ╚═╝ ╩╚═ ╚═╝  #
// ###################################

output "eDP-1" {
    mode "1920x1200@60.002"
    scale 1
    transform "normal"
    position x=320 y=1440
}

output "DP-1" {
    mode "3840x2160@59.997"
    scale 1.5
    transform "normal"
    position x=0 y=0
}

// #############################
// #  ╦   ╔═╗ ╦ ╦ ╔═╗ ╦ ╦ ╔╦╗  #
// #  ║   ╠═╣ ╚╦╝ ║ ║ ║ ║  ║   #
// #  ╩═╝ ╩ ╩  ╩  ╚═╝ ╚═╝  ╩   #
// #############################

layout {
    gaps 4
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring{
      off
    }

    background-color "transparent"
    border {
        width 2
    }
    shadow {} // border and shadow need to at least be initialized inorder to recieve the include values

}


// #######################################################
// #  ╦  ╦ ╦ ╔═╗ ╦ ╦ ╔═╗ ╦        ╔╦╗ ╔═╗ ╔═╗ ╦ ╔═╗ ╔╗╔  #
// #  ╚╗╔╝ ║ ╚═╗ ║ ║ ╠═╣ ║         ║║ ║╣  ╚═╗ ║ ║ ╦ ║║║  #
// #   ╚╝  ╩ ╚═╝ ╚═╝ ╩ ╩ ╩═╝      ═╩╝ ╚═╝ ╚═╝ ╩ ╚═╝ ╝╚╝  #
// #######################################################

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

animations {
    // 全体的なアニメーション速度を調整したい場合はここをアンコメントします
    // slowdown 2.0

    // ワークスペースの切り替え
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    // ウィンドウが開くとき
    window-open {
        duration-ms 250
        curve "ease-out-expo"
    }

    // ウィンドウが閉じるとき
    window-close {
        duration-ms 200
        curve "ease-out-quad"
    }

    // 画面全体の水平移動（カラム移動時など）
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    // ウィンドウの移動
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    // ウィンドウのリサイズ
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    // 設定変更時の通知
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    // スクリーンショットUI
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
}


// #############################################
// #  ╦╔═ ╔═╗ ╦ ╦ ╔╗  ╦ ╔╗╔ ╔╦╗ ╦ ╔╗╔ ╔═╗ ╔═╗  #
// #  ╠╩╗ ║╣  ╚╦╝ ╠╩╗ ║ ║║║  ║║ ║ ║║║ ║ ╦ ╚═╗  #
// #  ╩ ╩ ╚═╝  ╩  ╚═╝ ╩ ╝╚╝ ═╩╝ ╩ ╝╚╝ ╚═╝ ╚═╝  #
// #############################################

binds {
    Mod+Q repeat=false { close-window; }
    Mod+T { spawn "ghostty"; }
    Mod+M { quit; }
    Mod+E { spawn "nautilus"; }
    Mod+V { toggle-window-floating; }
    Mod+D { spawn "rofi" "-show" "drun"; }
    Mod+F { maximize-column; }
    Mod+C { spawn "swaync-client" "-t"; }
    // Mod+R { spawn "~/.cargo/bin/hypr-presto"; }
    Mod+X { spawn "flatpak" "run" "com.google.Chrome"; }
    Mod+O repeat=false { toggle-overview; }
    Mod+R { switch-preset-column-width; }

    Mod+Shift+V hotkey-overlay-title="Clipboard History: cliphist" { spawn "sh" "-c" "cliphist list | rofi -dmenu | cliphist decode | wl-copy"; }

    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Alt+L hotkey-overlay-title="Lock the Screen: Hyprlock" { spawn "hyprlock"; }

    Mod+W { spawn "~/dotfiles/script/cycle_wallpaper.sh" "seq"; }
    Mod+Shift+W { spawn "~/dotfiles/script/cycle_wallpaper.sh" "rev"; }
    Ctrl+Alt+W { spawn "~/dotfiles/script/cycle_wallpaper.sh" "rnd"; }
    Mod+Alt+W { spawn "~/dotfiles/script/safe_wallpaper.sh"; }

    Super+Print { screenshot; }
    Print { screenshot-window; }
    Ctrl+Shift+s { screenshot-screen; }

    Mod+Shift+Slash { show-hotkey-overlay; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.03+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.03-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86Favorites        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "-e4" "-n2" "set" "4%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "-e4" "-n2" "set" "4%-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    // Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    // Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
}

// ####################################################
// #  ╦ ╦ ╦ ╔╗╔ ╔╦╗ ╔═╗ ╦ ╦      ╦═╗ ╦ ╦ ╦   ╔═╗ ╔═╗  #
// #  ║║║ ║ ║║║  ║║ ║ ║ ║║║      ╠╦╝ ║ ║ ║   ║╣  ╚═╗  #
// #  ╚╩╝ ╩ ╝╚╝ ═╩╝ ╚═╝ ╚╩╝      ╩╚═ ╚═╝ ╩═╝ ╚═╝ ╚═╝  #
// ####################################################

window-rule {
    match app-id="dev-float"
    match title="dev-float"
    open-floating true
}
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^(google-)?chrome(-.*)?$"# title=".*[Nn]otification.*|.*[Aa]lert.*"
    open-floating true
}

window-rule {
  match title="(?i).*Picture.*in.*Picture.*"
  open-floating true
}

window-rule {
  match title=".*Bluetooth Devices.*"
  open-floating true
}

