@import "colors.css";

/* ------------------------------------
 * Global
 * ------------------------------------ */
* {
  font-family:
    "Annotation Mono",
    "0xProto Nerd Font Mono",
    "0xProto Nerd Font",
    "Noto Sans CJK JP",
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  min-height: 0;
}

/* ------------------------------------
 * Notification Window
 * ------------------------------------ */
.notification {
  background-color: rgba(24, 24, 37, 0.6);
  border-radius: 10px;
  margin: 6px;
  padding: 12px;
  border: 1px solid #f5c2e7;
  color: #cdd6f4;
}

.notification.critical {
  border: 2px solid #f38ba8;
}

.notification.normal {
  border: 1px solid #f5c2e7;
}

.notification.low {
  border: 1px solid #89dceb;
}

/* ------------------------------------
 * Notification Content
 * ------------------------------------ */
.summary {
  font-weight: 800;
  color: #f5c2e7;
  font-size: 14px;
}

.body {
  color: #cdd6f4;
  margin-top: 4px;
}

.time {
  color: #a6adc8;
  font-size: 11px;
}

.close-button {
  background: transparent;
  border: none;
  color: #f38ba8;
  border-radius: 5px;
}

.close-button:hover {
  background: rgba(243, 139, 168, 0.2);
}

/* ------------------------------------
 * Control Center
 * ------------------------------------ */
.control-center {
  background-color: rgba(17, 17, 27, 0.8);
  border: 1px solid #f5c2e7;
  padding: 16px;
  border-radius: 10px;
  margin: 10px;
  color: #cdd6f4;
}

.control-center-list {
  background: transparent;
}

/* Title */
.widget-title {
  margin: 8px;
  font-size: 18px;
  font-weight: 800;
  color: #cba6f7;
}

.widget-title > button {
  background-color: rgba(24, 24, 37, 0.6);
  border: 1px solid #f38ba8;
  color: #f38ba8;
  border-radius: 10px;
  padding: 4px 12px;
}

.widget-title > button:hover {
  background-color: rgba(243, 139, 168, 0.2);
}

/* DND */
.widget-dnd {
  margin: 8px;
  font-size: 14px;
  color: #fab387;
}

.widget-dnd > switch {
  background-color: rgba(24, 24, 37, 0.6);
  border: 1px solid #f5c2e7;
  border-radius: 10px;
}

.widget-dnd > switch:checked {
  background-color: #f5c2e7;
}

.widget-dnd > switch slider {
  background-color: #cdd6f4;
  border-radius: 10px;
  min-height: 20px;
  min-width: 20px;
}

/* ------------------------------------
 * Buttons
 * ------------------------------------ */
button {
  background-color: rgba(24, 24, 37, 0.6);
  border: 1px solid #f5c2e7;
  color: #cdd6f4;
  border-radius: 10px;
  padding: 6px 12px;
}

button:hover {
  background-color: rgba(245, 194, 231, 0.2);
  color: #f5c2e7;
}

/* Widget Label */
.widget-label > label {
  color: #cdd6f4;
  font-size: 12px;
}
