[language-server.moonbit-lsp]
# ここをバイナリ名に変更します
command = "moonbit-lsp"

[[language]]
name = "moonbit"
scope = "source.moonbit"
injection-regex = "moonbit"
file-types = ["mbt"]
comment-tokens = "//"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "moonbit-lsp" ]
roots = ["moon.mod.json"]
formatter = { command = "moon" , args = ["fmt"] } # moonfmtよりもこちらが確実です

[[grammar]]
name = "moonbit"
source = { git = "https://github.com/moonbitlang/tree-sitter-moonbit", rev = "main" }
